$blue-100: #DCE5FF;  // Светлый голубой
$blue-300: #6280E1;  // Умеренный голубой
$blue-400: #A9B2D1;  // Серединный голубой
$blue-500: #950ccf;  // Интенсивный голубой
$blue-900: #1D2040;  // Темно-синий

$white: #FFFFFF;     // Белый

$gray: #A8A8A8;      // Серый